.message
	.message__upper-info
		%p.message__upper-info__talker ユーザ名A
		%p.message__upper-info__date 2019/8/17(sat) 11:57:21
	%p.message__text いいね！ 
%div.message
	%div.message__upper-info
		%p.message__upper-info__talker ユーザ名B
		%p.message__upper-info__date 2019/8/17(sat) 11:58:21
	%p.message__text 頑張ろう！ 