%body
  .flash-box
    .notice グループを作成しました

  .wrapper
    .chat-side
      .side-header
        = render "side-header"
      .groups
        = render "groups" 

    .chat-main
      = render "chat-main"

      .messages
        =render "messages"
      
      .form
        =render "form"
